.nav-icon span {
    color: gray;
}.forg-text {
    font-size: 13px;
    margin: 0 auto;
    padding-bottom: 15px;
}
.headingcontainer h3 {
    font-size: 16px;
    margin: 5px 0px 13px;
    color: #777;
}
.for-text {
    text-align: center;
    padding: 10px;
    font-size: 13px;
    position: relative;
    z-index:999;
}
.cre-new a {
    font-size: 13px;
    color: #777 !important;
    text-align: center;
    display: block;
    padding-bottom: 15px;
}

.forget-log a {
    font-size: 13px;
    color: #777 !important;
    display: block;
    text-align: center;
    padding: 5px;
}
.forget-log {
    border-top: 1px solid #ccc;
    padding: 3px 0 0;
}
.forgot-password-form {
    max-width: 375px;
    padding: 10px 0;
    background: white;
     margin: 25px auto 11px auto;
    position: relative;
    border: 1px solid #ccc;
}
.headingcontainer {
    text-align: center;
    padding-top: 30px;
}
.for-pw {
    padding: 0px 25px;
    margin-bottom: 35px;
}
.for-text::before {
    content: '';
    border-top: 1px solid #ccc;
    position: absolute;
    width: 92%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    bottom: 0;
    height: 0;
    z-index:-1;
}
.for-text span {
    background: white;
    border-radius: 50%;
    padding: 10px;
}
.fpsb-container {
    margin-top: 25px;
}
.forget-log .log-in.login-click{
border-right: none;
}

.forgot-submit[disabled] {
    pointer-events: none;
    background: #068c8cc4;
}
.forget-img {
    width: 100px;
}
.inp-field::before {
    content: '\f107';
    position: absolute;
    top: 8px;
    right: 28px;
    color: #717171;
    font-family: fontawesome;
}
.p-pic .profile-pic img{
 border-radius:0;   
 max-width: 50px;
min-height: 50px;
max-height: 50px;
min-width: 50px;
}
.post-page .panel {
    margin-bottom: 20px;
    margin-top:20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    overflow: hidden;
}
.post-page .form-control.p-text-area, .post-page.form-control.p-text-area:focus {
    border: 0px solid #fff;
    font-weight: 300;
    box-shadow: none;
    color: #c3c3c3;
    font-size: 16px;
    resize: vertical;
}
.panel-footer {
    padding: 6px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    clear:both;
}
.profile-info .panel-footer ul li a {
    color: #7a7a7a;
}
.profile-info .panel-footer ul li a {
    color: #7a7a7a;
}
.pull-right {
    float: right !important;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.panel-white {
    border: 1px solid #dddddd;
}#equel-height {
    min-height: 550px;
}
.post .post-heading {
    padding: 10px 10px;
    float: left;
    width: 100%;
}
.post .post-heading .avatar {
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 15px;
    object-fit: cover;
	border-radius: 50%;
}
.post .post-heading .meta .title {
    margin-bottom: 0;
}
.post .post-heading .meta .time {
    color: #999;
    font-size:12px;
    display: inline;
}
.post .post-image .image {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    cursor: pointer;
}
.post-page-title {
    padding: 0px 10px;
}
.post .post-description {
    padding: 0px 10px;
}
.post .post-description p {
    font-size: 14px;
	margin-bottom: 0px;
	word-wrap: break-word;
}
.post .post-description .stats {
    margin-top: 0px;
    color: #7f7f7f;
    display: flow-root;
    padding: 0px 0px 5px 0px;
}
.post .post-description .stats .stat-item {
    display: inline-block;
    font-size: 14px;
}
.post .post-description .stats a {
    color: #7f7f7f;
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
}
.post .post-description .stats .stat-item .icon {
    margin-right: 1px;
}
.post .post-footer {
    padding: 0px;
    display: initial;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
.post .post-footer .add-comment-input {
    border-radius: 25px;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-control::placeholder {
    color: #999;
    opacity: 1;
}

.form-control {
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-right-color: rgb(227, 227, 227);
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: rgb(227, 227, 227);
    border-left-style: solid;
    border-left-width: 1px;
    border-radius: 4px;
    box-shadow: none;
    color: #444444;
    padding: 9px 16px !important;
}
.post .post-footer .comments-list {
    padding-top: 1px;
    margin-bottom: 0px;
    list-style-type: none;
    background: #eee;
    clear: both;
    overflow-y: auto;
    padding-left: 10px;
}
.post .post-footer .comments-list .comment {
    display: block;
    width: 100%;
    margin: 10px 0;
}
.post .post-footer .comments-list .comment .comment-body {
    margin-left: 50px;
}
.post .post-footer .comments-list .comment .avatar {
    width: 35px;
    height: 35px;
	border-radius: 50%;
}
.post .post-footer .comments-list .comment .comment-heading {
    display: block;
    width: 100%;
}
.pull-left {
    float: left !important;
}
.post .post-footer .comments-list .comment .comment-heading .comment-user-name {
    font-size: 14px;
    display: inline;
    margin-top: 0;
    margin-right: 10px;
}.comment-user-name a {
    color: #484848 !important;
}.comment-body p {
    font-size: 12px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
    font-size: 12px;
    color: #aaa;
    margin-top: 0;
    display: inline;
    font-weight:300;
}
.main-ws-sec {
    float: left;
    width: 100%;
}
.post-topbar {
    float: left;
    width: 100%;
    padding: 23px 20px;
    background-color: #fff;
    border-top: 4px solid #e44d3a;
    border-left: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.24);
    -ms-box-shadow: 0 0 1px rgba(0,0,0,0.24);
    -o-box-shadow: 0 0 1px rgba(0,0,0,0.24);
    box-shadow: 0 0 1px rgba(0,0,0,0.24);
    margin-bottom: 20px;
}
.user-picy {
    float: left;
    width: 50px;
}
.user-picy img {
    width: 100%;
    object-fit: cover;
}
.post-st {
    float: right;
    margin-top: 5px;
}
.post-st ol,.post-st ul {
    list-style: none;
}
.post-st ul li {
    display: inline-block;
    margin-right: 6px;
}
.post-st ul li a {
    color: #b2b2b2;
    font-size: 16px;
    display: inline-block;
    background-color: #e5e5e5;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    font-weight: 500;
}
.post-page textarea {
    width: 100%;
}
.post-page input, .post-page textarea, .post-page select {
    width: 100%;
    color: #000;
    font-size: 14px;
    border: 1px solid #e5e5e5;
    margin-bottom: 20px;
    font-weight: 500;
}
.post-project > a {
    position: absolute;
    top: -20px;
    right: -20px;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
}
.post-project-fields form ul li button.active {
    background-color: #17a2b8;
    color: #fff;
    border: none;
    padding: 5px 20px;
}
ul {
    list-style: none;
}
.imgcontainer img{
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    min-width: 100px;
    display:inline;
    margin: 5px;
    padding: 10px;
	object-fit: cover;
}
.pip {
    float: left;
    position: relative;
}
#files {
    border-top: 1px solid #ccc;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
#plte-r{
   padding: 6px 4px;
   margin-top:12px;
   color: #777;
   font-weight: 300;
}.post-project-fields textarea {
    padding: 5px 4px;
}
.image-upload > input
{
    display: none;
}
.image-upload img
{
    width: 80px;
    cursor: pointer;
}
.fa.fa-camera.cm-icn {
    font-size: 25px !important;
}
.cam-icon {
    padding: 0px 10px;
    cursor: pointer;
    margin: 0;
}
.pup-md img{
    width: 22px;
    border: 1px solid #ccc;
    padding: 2px;
}
.nav-sec {
    margin: 0px 0px 0px 0px;
    color: #90a4ae;
    padding: 5px;
}
.nav-icon span {
    font-size: 14px !important;
    display: block;
    text-align: center;
}
.post-heading{
    padding: 2px 7px;
}.nav-sec .post-heading {
    text-align: center;
}
.post-page input::placeholder,.post-page textarea::placeholder {
    color: #aaa8a8;
    font-weight: 300;
}
.pr-icon {
    float: right;
    
}
.pr-icon img {
    width: 30px;
    height: 30px;
    border: 1px solid #05cad4;
    border-radius: 50%;
    padding: 2px;
}
.remove {
    position: absolute;
    top: -10px;
    font-size: 25px;
    cursor: pointer;
}
.post-page select, .post-page input{
    padding: 6px 0px 6px 15px;
}
.p-2.nav-icon-lg:hover {
    border: 1px solid #05c8c9;
}
.pd-0 {
    padding: 1px !important;
}
.btn.btn-info.pull-right.comment-post {
    margin-right: 2px !important;
    margin-top: -2.4% !important;

}
.fa.fa-list.scroll-icon {
    margin-right: 60px;
}
.post-page-title h3{
    font-size: 15px;
    padding: 2px 0px 0px;
    color: #2b2b2b;
	word-wrap: break-word;
}
.pr-icon .dropdown-menu{
    min-width: 2rem !important;
    padding: 0;
}
.pr-icon .dropdown {
    cursor: pointer;
}
.pr-icon .dropdown-item{
    font-size: 12px;
    color: gray !important;
    padding: 4px 20px;
}
.br-icon1 {
    float: right;
}
.br-icon1 img {
    width: 20px;
    height: 20px;
    border: 1px solid #05cad4;
    border-radius: 50%;
    padding: 2px;
}
.im-t {
   float: left;
   padding-right: 10px;
}
.d-menu {
    font-size:20px;
}

.likesection {
    float: left;
}.liketext {
    padding-left: 5px;
    color: gray;
}.pc_comments {
    float: right;
}.comment_textarea {
    padding: 8px 35px 8px 20px;
    font-weight: normal !important;
    color: gray !important;
    overflow:hidden;
    margin: 0px 0px 8px;
    resize: none;
}.likesection p {
   display: contents;
   font-size: 12px !important;
}.pc_comments .stat-item {
    color: gray !important;
    font-size: 12px !important;
}.comment-form {
    position: relative;
}.cmnt-submit-btn {
    position: absolute;
    right: 7px;
    bottom: 27px;
    background: no-repeat;
    border: none;
    margin: 0 auto;
    cursor: pointer;
}.cmnt-submit-btn i {
    color: #05c8c8;
}

.stat-item{
    position: relative;
}
.like_cover{
    background: transparent;
    width: 140px;
    height: 20px;
    position: absolute;
    top: 0;
    z-index: 9;
   display: none;
}
.likesection {
    position: relative;
}






#p-tabs {
    position: relative;
    font-size: 13px;
    color: #919191;
    text-align: center;
    padding: 13px 20px;
    background-color: #fff;
    box-shadow: 0px 3px 3px #ddd;
    z-index: 3;
}
.m-mrg {
    margin-bottom: 20px;
}
.tb {
    display: table;
    width: 50%;
}
.td {
    display: table-cell;
    vertical-align: middle;
}
#p-tabs-m .td.active {
    color: #ee6000;
}
.friend-page {
    margin-top: 4px;
}



.companies-info {
    padding: 0px 0 150px 0;
}
.friend-title {
    float: left;
    width: 100%;
    border: 1px solid #ccc;
    background:#fff;
    
}
.company-title h3 {
    color: #777;
    font-size: 20px;
    font-weight: 500;
    background-color: #fff;
    padding: 15px 15px;
    margin-bottom: 0px;
}
.companies-list {
    float: left;
    width: 100%;
   background:#fff;
   margin-bottom: 30px;
   padding-top: 15px;
}
.company_profile_info {
    float: left;
    width: 100%;
    background-color: #fff;
    text-align: center;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 10px;
}
.company-up-info {
    float: left;
    width: 100%;
    padding: 8px 0;
    border-bottom: 1px solid #e5e5e5;
}
.company-up-info img {
    float: none;
    margin-bottom: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
        height: 100px;
    width: 100px;

}
.company-up-info h3 {
    color: #777;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 2px;
}
.company-up-info h4 {
    color: #778;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 14px;
}
.company-up-info ul {
    float: left;
    width: 100%;
}
.company-up-info ul li {
    display: inline-block;
    margin-right: 20px;
}
.company-up-info ul li a {
    display: inline-block;
    padding: 0 12px;
    color: #fff;
    height: 30px;
    line-height: 35px;
    color: #777 !important;
    text-transform: capitalize;
}

.company-up-info ul{
    margin-bottom:0px;
}
.company-up-info ul li a i{
    font-size:12px;
    padding: 3px;
}



.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}



.has-search {
    width: 19% !important;
    float: right;
    margin-right: 10px;
    margin-top: 15px;
}
.company-title {
    float: left;
    width: 20%;
}
.frd::before {
    position: absolute;
    top: 5px !important;
    right: 2px !important;
    color: #fff;
    left: 0 !important;
    font-size: 14px;
}
.frnd-btn {
    padding: 0 15px !important;
}
.form-control.fr-search {
    padding: 0px 16px !important;
    font-size: 12px !important;
}

.fa.fa-thumbs-up.icon {
    display: none;
}    #owl-demo.owl-carousel .item img{
        display: block;
        width: 100%;
        height: auto !important;
        max-height: 600px;
        object-fit: cover;
    }#owl-demo.owl-theme .owl-controls .owl-page span {
        width: 6px !important;
        height: 6px !important;
        margin: 0 5px;
    }#owl-demo.owl-theme .owl-controls .owl-page.active span{
        background: #000;
    }
.row.img-3.pd-0 {
    position: relative;
}.counter {
    background: #434343;
    position: absolute;
    right: 23px;
    top: 10px;
    border-radius: 15px;
    color: white;
    display: flex;
    padding: 0px 4px;
}.counter p {
    color: white;
    padding: 0px 2px;
    margin: 0;
}.counter span {
    font-size: 12px;
    margin-top: 2px;
}

#loader_overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.1);
  z-index: 9999;
  display:none;
}.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.lds-ellipsis1 {
    color: white;
}.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 6px;
}
.lds-ellipsis div {
  position: absolute;
  top: 0px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.invlid-e {
    font-size: 20px;
    color:red;
	position: absolute;
	top: 40%;
	left: 38%;
	padding: 20px 50px;
	border: 1px solid #eee;
    border-radius: 4px;
}


/*----  24 sep css main page change */
.hover_bkgr_fricc1.log-in-popup1 {
    margin-top: 50px;
}
.main-home-page .signin-form {
    width: 100%;
	margin-bottom: 20px;
}.main-home-page .container-form {
    max-width: 450px;
}.main-home-page .forgot-psw {
    text-align: center;
}.main-home-page  #login-form {
    margin-top: 0;
}.main-home-page #remember-me {
    float: left;
}.mian-page-hdng {
    text-align: center;
	padding: 20px 0px;
}.main-home-page .va-middle {
	margin-top: 5%;}
.main-home-page .va-middle span {
	text-align: center;}
.main-home-page .form-title {
	text-align: center;
	margin-bottom: 10px;
}.mian-page-hdng h3 {
    font-size: 20px;
    margin: 0;
	color: #777;
}.main-home-page .form-title i {
    border: 1px solid gray;
    text-align: center;
    vertical-align: middle;
    padding: 20px;
    border-radius: 50%;
    height: 75px;
    width: 75px;
	font-size: 32px;
}
.foodzo-main-page .desktop-buttons.profile-right .login-text {
    display: none;
}

/*----  24 sep css main page change */

@media screen and (max-width: 768px) {
	.has-search {
    width: 34% !important;   
}